parameters:
	ignoreErrors:
		-
			message: '#^While loop condition is always true\.$#'
			identifier: while.alwaysTrue
			count: 1
			path: src/Command/TranslationJobsMonitorCommand.php

		-
			message: '#^Call to an undefined method Elastic\\Elasticsearch\\Response\\Elasticsearch\|Http\\Promise\\Promise\:\:asArray\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/ElasticsearchService.php

		-
			message: '#^Call to an undefined method Elastic\\Elasticsearch\\Response\\Elasticsearch\|Http\\Promise\\Promise\:\:asBool\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/ElasticsearchService.php

		-
			message: '#^Method App\\Service\\LanguageDetector\:\:detect\(\) should return array\{language\: string, confidence\: float, all\: array\<string, float\>\} but returns array\{language\: int\|string, confidence\: mixed, all\: array\}\.$#'
			identifier: return.type
			count: 1
			path: src/Service/LanguageDetector.php
