.textLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    line-height: 1;
    white-space: pre;
    pointer-events: none;
}

.textLayer span {
    color: black;
    position: absolute;
    white-space: pre;
    transform-origin: 0 0;
}

.textLayer mark {
    background-color: yellow;
    color: black;
    padding: 0 2px;
    border-radius: 2px;
}